<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BirdView"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImagePickerActivity"
            android:exported="false" />
        <activity
            android:name=".AllBirds"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAcnPpN2K87hgK2IIjDyqReQlIPjU41kvo" /> <!-- android:value="AIzaSyB7ww08dPAlyfU4g3d_mHmfQpNXHpW9kmw" -->
        <activity
            android:name=".MapV2"
            android:exported="false" />
        <activity
            android:name=".BirdCategoryEntry"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".BirdEntry"
            android:exported="false" />
        <activity android:name=".BirdInfo"
            android:exported="false"/>
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".SpecieCatgeory"
            android:exported="false" />
        <activity
            android:name=".BirdObservation"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false"/>

        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
    </application>

</manifest>